* {
  margin: 0;
  padding: 0;
}

body {
  font: 16px/28px Arial, sans-serif;
  background-color: #eaeaea;
  background-image: url(img/pattern.png);
  color: #333;
}

.container {
  width: 800px;
  margin: auto;
  background-color: #fff;
}

.header {
  padding: 20px;
  padding-bottom: 10px;
}

.header .judul {
  font-size: 40px;
  font-weight: bold;
}

.header ul {
  list-style: none;
}

.header ul li {
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
}

.header a {
  text-decoration: none;
  color: salmon;
  padding: 3px;
}

.header a:hover {
  background-color: lightskyblue;
  color: white;
}

.hero {
  height: 250px;
  background-image: url(img/img.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  line-height: 250px;
  font-size: 24px;
  color: #555;
  border-top: 3px solid salmon;
  border-bottom: 3px solid lightblue;
}

.content {
  padding: 20px;
}

.content h2 {
  font-size: 28px;
  font-weight: bold;
}

.content .penulis {
  font-size: 12px;
  margin-top: -5px;
  margin-bottom: 20px;
}

.content .penulis a {
  color: salmon;
  text-decoration: none;
}

.content p {
  margin-bottom: 20px;
  text-align: justify;
}

/* Footer */
.footer {
  background-color: #333;
  padding: 10px;
}

.footer p {
  color: #eee;
  text-align: center;
  font-size: 12px;
}
