:root {
    --color-beige: #F5F5DC;
    --color-beige-bg: #EDECE7;
    --color-black: #2c2c2c;
    --color-bronze: #a67c52;
    --font-primary: 'Playfair Display', serif;
    --font-secondary: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-secondary);
    line-height: 1.6;
    color: var(--color-black);
    background-color: var(--color-beige);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

h1, h2, h3{
    font-family: var(--font-primary);
    line-height: 1.2;
}

/* navbar start */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 50px;
    background-color: var(--color-beige);
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.logo {
    font-family: var(--font-primary);
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--color-black);
    text-decoration: none;
    transition: color 0.3s;
}

.logo:hover {
    color: var(--color-bronze);
}

.navbar nav {
    margin-right: -10px;
}

.navbar a {
    color: var(--color-black);
    text-decoration: none;
    margin-left: 35px;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: color 0.3s, opacity 0.3s;
    position: relative;
    padding-bottom: 5px;
}

.navbar a:hover {
    color: var(--color-bronze);
}

.navbar a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 1px;
    background-color: var(--color-bronze);
    transition:  width 0.3s ease-out;
}

.navbar a:hover::after {
    width: 100%;
}

/* navar end */

/* hero start */
.hero-section {
    min-height: 100vh;
    background-color: var(--color-beige-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
}

.hero-content h1 {
    font-family: var(--font-primary);
    font-size: 5rem;
    font-weight: 400;
    color:var(--color-black);
    line-height: 1.1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.hero-content h1 span{
    display: inline-block;
}

.hello-italic {
    font-style: italic;
    margin-right: 15px;
}

.name-bold {
    font-weight: 700;
    color: var(--color-bronze);
    position: relative;
    padding-right: 2px;
}

.hero-content p {
    font-family: var(--font-secondary);
    font-size: 1,1rem;
    font-weight: 400;
    color: var(--color-black);
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.8;
}
/* hero end */

/* about me start */
.about-section {
    padding: 100px 0;
    background-color: var(--color-beige);
}

.about-flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    max-width: 1000px;
    margin: 0 auto;
    text-align: left;
}

.about-text-column {
    flex: 1;
    max-width: 50%;
}

.about-image-column {
    flex: 1;
    max-width: 40%; 
    display: flex;
    justify-content: flex-end;
}

.about-section p {
    font-family: var(--font-secondary);
    font-size: 1.1rem;
    line-height: 1.8;
    margin: 0;
    max-width: none;
}

.section-title-about {
    font-family: var(--font-primary);
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 30px;
    display: inline-block;
    position: relative;
    line-height: 1;
}

.image-arch-background {
    position: relative;
    width: 300px;
    height: 400px;
    background-color: #D6C7BC; 
    -webkit-clip-path: inset(0 0 0 0 round 50% 50% 0 0);
    clip-path: inset(0 0 0 0 round 50% 50% 0 0);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    margin-top: 30px;
}

.about-photo {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    display: block;
    
    position: absolute;
    bottom: 0;
}