@font-face {
    font-family: 'bootlefont'; 
    src: url(font/BOOTLE__.TTF) format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh; 
    overflow: hidden; 
    background-color: #000; 
}

.flex-container {
    display: flex; 
    height: 100%; 
    width: 100%;
}

/* overlay logo */
.overlay-logo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw; 
    height: 30vw; 
    background-image: url(../img/lolo.png);
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5)); 
    z-index: 5; 
    pointer-events: none; 
    opacity: 1; 
    transition: opacity 0.5s ease;
}

.flex-container:hover + .overlay-logo{
    opacity: 0;
}

/* item foto */
.item {
    flex-grow: 1; 
    flex-basis: 0; 
    position: relative;
    overflow: hidden; 
    transition: all 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94); 
}

.item:hover {
    flex-grow: 4; 
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s;
    filter: brightness(0.8); 
}

.item:hover img {
    transform: scale(1.05); 
    filter: brightness(1.0); 
}

/* caption foto */
.caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    color: white;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
    z-index: 10; 
    transform: translateY(100%);
    opacity: 0;
    transition: transform 0.6s, opacity 0.6s;
    transition-delay: 0.1s; 
}

.item:hover .caption {
    transform: translateY(0);
    opacity: 1;
}

.caption h2 {
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 5px;
}

.caption p {
    font-size: 16px;
    line-height: 1.4;
    max-height: 0; 
    transition: max-height 0.3s ease-out;
    overflow: hidden;
}

.item:hover .caption p {
    max-height: 200px; 
    transition: max-height 0.5s ease-in;
}